body
{
    font-family: Roboto, sans-serif;
    color:#212121;
    font-size: 14px;
    background-color: #F5F5F5;
    line-height: 1.5;
}
footer
{
    background-color: #2F303A;
}
address {
    font-style: normal
}
a, .contact
{
text-decoration: none;
}
.logo
{
    font-family: Ralewey;
    font-weight: 700;
    font-size: 36px;
    color:#212121;
    line-height: 1.19;
}
.logo-adress {
    font-family: Ralewey;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    color: #212121
}
.logo-blue
{
    color:#2196F3;
    letter-spacing: 0.03em;
    line-height: 1.19;
}
.logo-studio
{
color:#fff;
letter-spacing: 0.03em;
}
.navigation
{
    list-style: none;
}
.navigation-point 
{
    font-weight:500;
    color: #212121;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.current
{
color: #2196F3;
}
.navigation-point:hover,
.navigation-point:focus
{
color: #2196F3;
}
.contact-links,
.features,
.works,
.team,
.portfolio-button,
.portfolio-list,
.contact
{
    list-style: none;
}
.contact-links .link
{
    font-weight:500;
    color: #757575;
    line-height: 1.1;
    letter-spacing: 0.02em;
}
.contact-links .link:hover,
.contact-links .link:focus
{
color: #2196F3;
}
.contact .contact-adress
{
    color:#fff;
    line-height: 1.71;
    font-weight: 400;
    letter-spacing: 0.03em;
}
.contact .contact-mail,
.contact .contact-phone
{
    color: rgba(255,255,255,60%);
    line-height: 1.71;
    font-weight: 400;
    letter-spacing: 0.03em;
}
.contact .contact-adress:hover,
.contact .contact-mail:hover,
.contact .contact-phone:hover
{
color:#2196F3;
}
.contact .contact-adress:focus,
.contact .contact-mail:focus,
.contact .contact-phone:focus
{
    color: #2196F3;
}

.button
{
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    cursor:pointer;
    border:none;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
}

.button:hover,
.button:focus
{
    background-color:#2196F3;
    color:#fff;
}
.project-name
{
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project-type
{
    color:#757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.87;
    letter-spacing: 0.03em;
}
.hero-title
{
    font-size: 44px;
    font-weight: 900;
    letter-spacing: 0.06em;
    line-height: 1.36;
    text-transform: uppercase;
}
.order 
{
    background-color: #2196F3;
    font-family: inherit;
    color:#fff;
    font-weight: 700;
    cursor:pointer;
    border:none;
    line-height: 1.87;
    letter-spacing: 0.06em;
}
.featur
{
    visibility: hidden;
}
.features-title
{
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
.features-text
{
    color:#757575;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.works-title,
.team-title
{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
}
.team-name
{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.03em;
}
.team-position
{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

