body
{
    font-family: Roboto, sans-serif;
    color:#212121;
    font-size: 14px;
}
footer
{
    background-color: #2F303A;
}
address {
    font-style: normal
}
a, .contact
{
text-decoration: none;
}
.logo
{
    color:#2196F3;
}
.logo-studio
{
color:#fff;
}
.navigation-point 
{
    color: #212121;
}
.navigation-point:hover,
.navigation-point:focus
{
color: #2196F3;
}
.contact-links .link
{
    color: #757575;
}
.contact-links .link:hover,
.contact-links .link:focus
{
color: #2196F3;
}
.contact .contact-adress
{
    color: rgba(255,255,255,60%);
}
.contact-adress:hover,
.contact-adress:focus
{
    color:#fff;
}
.button
{
    font-size: 16px;
    font-weight: 500;
    cursor:pointer;
}

.button:hover,
.button:focus
{
    background-color:#2196F3;
}
.project-name
{
    font: size 18px;
    font-weight: 700;
}
.project-type
{
    color:#757575;
    font-size: 16px;
}
.hero-title
{
    font-size: 44px;
}
.order 
{
    background-color: #2196F3;
    color:#fff;
    font-weight: 700;
    cursor:pointer;
    border:none;
}
.features-title
{
    text-transform: uppercase;
    font-weight: 700;
}
.features-text
{
    color:#757575;
    line-height: 1.5;
}
.works,
.team 
{
    font-size: 36px;
    font-weight: 700;
}
.team-name
{
    font-size: 16px;
    font-weight: 500;
}
.team-position
{
    font-size: 16px;
    color: #757575;
}

