body
{
    font-family: Roboto, sans-serif;
}
footer
{
    background-color: #2F303A;
}
a, .contact
{
text-decoration: none;
}
.logo
{
    color:#2196F3;
}
.logo-studio
{
color:#fff;
}
.navigation-point 
{
    color: #212121;
}
.navigation-point:hover,
.navigation-point:focus
{
color: #2196F3;
}
.contact-links .link
{
    color: #757575;
}
.contact-links .link:hover,
.contact-links .link:focus
{
color: #2196F3;
}
.button-all
{
    width: 73px;
        height: 38px;
        left: 512px;
        top: 174px;
}
.button-web
{
    width: 125px;
        height: 38px;
        left: 593px;
        top: 174px;
}
.button-app
{
    width: 112px;
        height: 38px;
        left: 726px;
        top: 174px;
}
.button-design
{
    width: 103px;
        height: 38px;
        left: 846px;
        top: 174px;
}
.button-marketing
{
    width: 130px;
        height: 38px;
        left: 957px;
        top: 174px;
}

.contact .contact-adress
{
    color: rgba(255,255,255,60%);
}
.contact-adress:hover,
.contact-adress:focus
{
    color:#fff;
}